<div class="login-form">
<div class="title">Dashboard</div>
<%=  @user.first_name %>
<%= @user.last_name %> <br>
<% if @user.header_image.attached? %>
    <%= image_tag @user.header_image, width: "250px" %> <br>
<% else %>
    <%= image_tag "/assets/avatar.jpeg", width: "250px"%>
<% end %>
</div>